{{#each this}}
  <h2><img src={{flags.svg}} alt='Flag' height='auto' width='50' />{{name}}</h2>
  <p><b>Capital:</b> {{capital}}</p>
  <p><b>Population:</b> {{population}}</p>
  <p><b>Languages:</b>
    {{#each languages}}
      {{this.name}}{{#unless @last}}, {{/unless}}
    {{/each}}
  </p>
{{/each}}